// Import Custom SB Admin 2 Variables (Overrides Default Bootstrap Variables)
@import "variables.scss";

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import Custom SB Admin 2 Mixins and Components
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";

// Custom Components
@import "dropdowns.scss";
@import "navs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "charts.scss";
@import "login.scss";
@import "error.scss";
@import "footer.scss";

.table-list-order {
  .success, .cancel, .pending {
    padding: 3px 5px;
    color: #fff;
    border-radius: 3px;
  }

  .success {
    background-color: #00a651;
  }

  .cancel {
    background-color: #e3342f;
  }

  .pending {
    background-color: #dda20a;
  }
}
